@model FrontCafeteriaMVC.Models.Producto

@{
    ViewData["Title"] = Model.Id == 0 ? "Agregar Producto" : "Editar Producto";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="@((Model.Id == 0) ? "Crear" : "Editar")" method="post">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Precio" class="form-label"></label>
        <input asp-for="Precio" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Cantidad" class="form-label"></label>
        <input asp-for="Cantidad" type="number" class="form-control" />
        <span asp-validation-for="Cantidad" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a class="btn btn-secondary" href="@Url.Action("Index", "Productos")">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
