@{
    ViewData["Title"] = "Menú de Inventario";
}

<h2>Bienvenido Usuario de Inventario</h2>

<div style="margin-top: 20px;">
    <a href="@Url.Action("Index", "Productos")" class="btn btn-primary" style="margin-right: 10px;">Administrar Productos</a>
    <a href="@Url.Action("Index", "Usuarios")" class="btn btn-success">Administrar Usuarios</a>
</div>
