@{
    ViewData["Title"] = "Menú de Inventario";
}

<h2>Bienvenido</h2>

<div>
    <a href="@Url.Action("Index", "Producto")" class="btn btn-primary">Administrar Productos</a>
    <a href="@Url.Action("Index", "Usuario")" class="btn btn-success">Administrar Usuarios</a>
</div>
